

* {
	margin:0;
	box-sizing: border-box;
	padding:0;
	font-size:14px;
}
html {
	height:100%;
	width:100%;
}

body {
	height:100%;
	width:100%;
}

h1 {
	font-size:2em;
}


div.contenedorTabla {
	width:100%;
	height:100%;
	background-color: #616161;
	
}

div.contenedorTabla header {
	height:10%;
	background-color: beige;
	overflow:hidden;
	display: flex; 
	justify-content:left;
	align-items: center;
}


div.contenedorTabla header input, header button, header label { 
	width:12%;
	height:80%;
	margin:1%;
    padding:1%;
}

div.contenedorTabla header label { 
	font-weight:bold;
	font-size: 1.1em;
}


div.contenedorTabla header button { 
	cursor:pointer;
}

div.contenedorTabla table input, table select { 
	height:100%;
}

div.contenedorTabla td.titulosColumnas {
	font-size:1em;
	cursor:pointer;
	font-weight: bold;
	display: flex; 
	justify-content:left; 
	align-items: center; 
}


div.contenedorTabla td.totalizador {
	display: flex; 
	justify-content:left; 
	align-items: center; 
}

div.contenedorTabla footer {
	display:block;
	height:10%;
	background-color: beige;
	overflow: hidden;

}

div.contenedorTabla footer div.totalRegistros {
	font-size:1.2em;
	height:100%;
	width:20%;
	float:left;
	font-weight:bold;
}


div.contenedorTabla footer div.textoPie {
	font-size:1.2em;
	height:100%;
	width:70%;
	display: flex; 
	justify-content:center;
	align-items: center;
}



div.contenedorTabla table {
  height:80%;
  border-collapse: collapse;
  
}

div.contenedorTabla thead {
  display: block; 
  background-color: #fc4b08;
  text-align: center;
  height: 20%;
  overflow-y: scroll;
}


div.contenedorTabla tfoot {
  display: block; 
  background-color: #fc4b08;
  height: 10%;
  overflow-y: scroll;
  text-align: center;
}




div.contenedorTabla tbody {
  display: block;
  overflow-y: scroll;
  color: white;
  height:70%;
}


div.contenedorTabla tr {
  display: block; 
  overflow: hidden;
  height:60px;
}


div.contenedorTabla tbody tr:nth-child(odd) {
  background: rgba(0,0,0,.2);
}


div.contenedorTabla tbody tr:nth-child(even) {
  background: rgba(0,0,0,.3);
}

div.contenedorTabla th, td {
	float:left; 
	display:flex;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height:100%;
}




[campo-dato] {
  width:10%;
  height:100%;
}




div.contenedorActivo {
opacity:1;
pointer-events: auto;
}

div.contenedorPasivo {
opacity:0.3;
pointer-events: none;
}

/* VENTANA MODAL */


div.ventanaModalFormularioApagado {
	visibility:hidden;
}

div.ventanaModalFormularioPrendido {
	visibility:visible;
}

div.ventanaModalRespuestaApagado {
	visibility:hidden;
}

div.ventanaModalRespuestaPrendido {
	visibility:visible;
}



div.ventanaModalFormulario {
	position:fixed;
	left:33%;
	top:13%;
	width:50%;
	height:50%;
	color:black;
	
	z-index:10;

}


div.ventanaModalFormulario header {
	height:10%;
	background-color:#AAAAAA;
	display:block;
	overflow:hidden;
}




div.ventanaModalFormulario p {
	font-size: 1.2em;
	background-color: white;
	width:90%;height:100%;
	float: left; 
	display: flex; 
	justify-content: center;
	align-items: center;
}

div.ventanaModalFormulario div.btCruz {
	color:red;
	background-color: white;
	width:10%;
	height:100%;
	cursor:pointer;
	display: flex;
	justify-content: center; 
	align-items: center; 
}



div.ventanaModalFormulario div.btCruz:hover {
	background-color:gray;
}



div.ventanaModalFormulario div.contenidoModal {
	background-color: gray;
	height:80%;
	padding: 2%;
}


div.ventanaModalFormulario footer {
	background-color: gray;
	height:10%;
	display: flex;
	justify-content: center; 
	align-items: center; 
}

div.ventanaModalFormulario button.btModi {
	width:30%;
}


div.ventanaModalFormulario button.btAlta {
	
	width:30%;
}

div.ventanaModalFormulario div.contenidoModal ul {
	list-style: none;
	overflow:auto;
	clear:both;
}

div.ventanaModalFormulario div.contenidoModal li {
	width:50%;
	height:30%;
	float:left;
}

@media(max-width:600px) {
	div.ventanaModalFormulario div.contenidoModal li {
		width:100%;
		font-size:1.2em;
	}
}

div.ventanaModalFormulario div.contenidoModal label {
	font-size:1.4em;
	width:80%;
	height:50%;
	display: flex; 
	align-items: center; 
}

div.ventanaModalFormulario div.contenidoModal input {
	width:80%;
	height:50%;
	font-size:1em;
}

div.ventanaModalFormulario div.contenidoModal select {
	width:80%;
	height:50%;
	font-size: 1em;
}


div.ventanaModalFormulario option.elementoOptionSelect {
	background-color:beige;
	font-size: 1em;
}









	
/*Ventana Modal respuesta*/

div.ventanaModalRespuesta {
	position:fixed;
	left:45%;
	top:18%;
	width:50%;
	height:50%;
	color:black;
	z-index:20;
}


div.ventanaModalRespuesta header {
	height:10%;
	background-color: #E0E0E0;
	/*clear:both;*/
	overflow:hidden;
}

div.ventanaModalRespuesta header p {
	font-size:1.5em;
	background-color: #E0E0E0;
	width:90%;
	float: left; /*Asegura que todo lo que siga este pegado a el a la derecha, ej bt cruz*/
	display: flex; 
	justify-content: center;
	align-items: center;
}

div.ventanaModalRespuesta div.btCruz {
	background-color: white;
	color:red;
	width:10%;
	float:right;
	cursor:pointer;
	display: flex; /*Permite flexibilizar el contenido*/
	justify-content: center; /*Permite centrar al medio en x el contenido*/
	align-items: center; /*Permite centrar al medio en y el contenido*/
}



div.ventanaModalRespuesta div.btCruz:hover {
	background-color:#E0E0E0;
}


div.ventanaModalRespuesta div.contenidoModal {
	background-color: white;
	overflow:auto;
}

div.ventanaModalRespuesta div.contenidoModal p {
	text-align:left;
	font-size:1.5em;
}

div.ventanaModalRespuesta div.contenidoModal,div.ventanaModalRespuesta header, 
div.ventanaModalFormulario div.contenidoModal ul,div.ventanaModalFormulario div.contenidoModal,
div.ventanaModalFormulario header, div.contenedorTabla th, td,
div.contenedorTabla table,div.contenedorTabla footer, div.contenedorTabla table input, table select,
div.contenedorTabla header
 {
    width:100%;

}


div.ventanaModalRespuesta div.btCruz, div.ventanaModalRespuesta header p,
div.ventanaModalFormulario button.btAlta, div.ventanaModalFormulario button.btModi {
    height:100%;

}
